---
import { basics } from "@cv"
const { name, label, image, profiles, phone, email } = basics
const { city, location } = region
---

<section>
    <div class="container">
        <div class="info">
           
        </div>
    </div>
</section>

<style>

    .container {

    }

</style>